<%- include('../../../partials/header') %>

<%- include('../../../partials/breadcrumbs') %>

<!-- display any flash messages -->
<div class="w-50 mx-auto text-center mt-3">
    <%- include('../../../partials/flash') %>
</div>


<div class="row">
    <div class="col-8 offset-2">

            <div class="card mb-3"> 

                <div class="row g-0 d-flex flex-wrap align-items-center">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="<%= singleClient.image.url %>" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">

                        <div class="card-body">
                            <h3 class="card-title"><%= singleClient.fullName %></h3>
                            <h6 class="card-subtitle mb-2 text-muted"><small><a class="contact-card-muted-link" href="tel:<%= singleClient.phoneNumber %>"><%= singleClient.formattedPhone %> </small></a>
                                <% if (singleClient.email) { %> 
                                    <small>&bullet;</small>
                                <% } %> 
                            <small><a href="mailto:<%= singleClient.email %>" class="contact-card-muted-link"><%= singleClient.email %> </small></a></h6>
                            
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i>Pets: &nbsp; </i>
                                     <% for (i = 0; i < singleClient.pets.length; i++) { %>
                                       <% if (i > 0) { %>
                                        <br>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <% } %>
                                       &nbsp; &nbsp; &nbsp;
                                            <small><a href="/guest-records/<%= singleClient.pets[i]._id %>"><%= singleClient.pets[i].name %></a></small>
                                        <% } %>
                                </li>

                                <li class="list-group-item"><i>Address: &nbsp; </i> <small>
                                    <% if (singleClient.address.streetAddress) { %>
                                        <%= singleClient.formattedAddress%>
                                    <br>  &nbsp; &emsp; &emsp; &emsp; &nbsp;   <%=singleClient.address.city %>, 
                                    <% const state = stateInfo.find((element) => element.name === singleClient.address.state) %>
                                    <%=state.abbreviation %> <br>
                                    &nbsp; &emsp; &emsp; &emsp; &nbsp; <%=singleClient.address.zip %>   </br>
                                     <% } %>
                                   </small> </li>
                                <li class="list-group-item"><i>Notes: &nbsp; </i><small> <%= singleClient.notes %> </small></li>
                                <li class="list-group-item"> </li>
                                </ul>
                                <!-- edit and delete buttons -->
                                <div class="text-center">
                                    <a href="/client-records/<%=singleClient._id%>/edit" class="btn btn-primary btn-sm">Edit</a> 

                                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 20 20">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg> Delete</a></button>

                                </div>
                            
                        </div>

                    </div>
                </div>
            </div>

    <!-- billing summary: account credit / balance -->
    <div class="table-responsive my-3" style="max-height: 600px">
        <table class="table table-hover">
        <thead>
            <tr>
            
            <th scope="col" style="text-align: center;">Account Credit</th>
            <th scope="col" style="text-align: center;">Account Balance</th>

            </tr>
        </thead>
        <tbody>
                    <tr>
                    <td valign="middle" style="text-align: center;">$<%= singleClient.accountCredit %></td>

                    <% var balance = 0 %>
                    <% for (i = 0; i < singleClient.pets.length; i ++) { %>
                        <% for (j = 0; j < singleClient.pets[i].visits.length; j++) { %>
                            <% if (!singleClient.pets[i].visits[j].paid) { %>
                                <% balance += singleClient.pets[i].visits[j].baseCost %>
                                <% for (k = 0; k < singleClient.pets[i].visits[j].services.length; k++) { %>
                                    <% balance += singleClient.pets[i].visits[j].services[k].price %>
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } %>

                    <td valign="middle" style="text-align: center;">$<%= balance %></td>
                    </tr>
        </tbody>
        </table>
    </div>

</div> <!--end of container -->

    <h4 class="display-9 ">Pets' Visit Records</h4>
    <!-- record visit history display for all of clients' pets -->
    <div class="table-responsive my-3" style="max-height: 220px">
        <table class="table table-striped table-hover">
        <thead>
            <tr>
            
            <th scope="col" style="text-align: center;">Guest</th>
            <th scope="col" style="text-align: center;">Visit #</th>
            <th scope="col" style="text-align: center;">Check-in</th>
            <th scope="col" style="text-align: center;">Check-out</th>
            <th scope="col" style="text-align: center;">Duration</th>
            <th scope="col" style="text-align: center;">Total Bill</th>
            <th scope="col" style="text-align: center;"></th>
        
            </tr>
        </thead>
        <tbody>
            <!-- for each pet, sorted alphabetically by pet -->
            <% const sortedPetsArr = singleClient.pets %>
            <% for (i = 0; i < sortedPetsArr.length; i++) { %>
                <!-- for each of that pet's visits, sorted by most recent visit -->
                <% const sortedVisitsArr = sortedPetsArr[i].visits.sort((b, a) => a.endDate - b.endDate)%>
                <% for(j = 0; j < sortedVisitsArr.length; j++) { %>
                    <tr>
                    <td valign="middle" style="text-align: center;"><a href="/guest-records/<%= sortedPetsArr[i]._id %>"> <small><%= sortedPetsArr[i].name %></small></a></td>
                    <td valign="middle" style="text-align: center;"><small> <%= sortedVisitsArr[j].number %></small></td>
                    <td valign="middle" style="text-align: center;"><small> <%= sortedVisitsArr[j].formatDateMonthFirst('startDate') %></small></td>
                    <td valign="middle" style="text-align: center;"><small> <%= sortedVisitsArr[j].formatDateMonthFirst('endDate') %></small></td>
                    <td valign="middle" style="text-align: center;"><small> <%= sortedVisitsArr[j].duration %></small></td>

    
                    <% const paidStr = sortedVisitsArr[j].paid? 'Paid' : 'Unpaid' %>

                    <!-- tallying total cost of visit  -->
                    <% var totalCost = sortedVisitsArr[j].baseCost %>
                    <% for (l = 0; l < sortedVisitsArr[j].services.length; l++) { %>
                        <% totalCost += sortedVisitsArr[j].services[l].price  %>
                    <% } %>
                    
                    <td valign="middle" style="text-align: center;"><small>$<%= totalCost %></small> <span <% if (!sortedVisitsArr[j].paid) { %>
                        style='color: crimson'
                    <% } else { %>
                        style='color: green'
                    <% } %>><small>(<%= paidStr %>)</span></small></td>
                    <td  style="text-align: center;"> <a href="/visit-records/<%=sortedVisitsArr[j]._id%>" class="btn btn-outline-primary btn-sm"><small>Details</small></a> </td>
                    <% } %>
                    </tr>
            <% } %>
        </tbody>
        </table>
            <!-- check if client has no pet visits on record; indicate if so -->
            <% var clientPetVisitsTally = 0 %>
            <% for (i = 0; i < singleClient.pets.length; i++) { %>
                <%   clientPetVisitsTally += singleClient.pets[i].visits.length; %>
                <% } %>

            <% if (clientPetVisitsTally === 0) { %>
            <div class="text-center my-3"><i>No pet visit records to display.</i></div>
            <% } %>

    </div>

    <!-- back (return to index) button -->
    <!-- <div class="mx-auto mt-3">
        <a href="/client-records/" class="btn btn-outline-primary"><- All Clients</a>
    </div> -->

</div>

    <!-- delete record Modal pop-up -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete <b><%=singleClient.fullName%></b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Permanently delete this client record? 

            <br> <br>

            <% if (singleClient.pets.length) { %>
                This will also delete the following guest records:
            
                <ul>
                    <% for (i = 0; i < singleClient.pets.length; i++) { %>
                        <li><a href="/guest-records/<%= singleClient.pets[i]._id %>"><%= singleClient.pets[i].name %></a></li>
                        <% } %>
                </ul>
            <% } else { %>
                No pets belonging to this client were found on record.
            <% } %>
        </div>
        <div class="modal-footer">
            <form action="/client-records/<%=singleClient._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 20 20">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg> Delete</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
    </div>

<%- include('../../../partials/footer') %>