<%- include('../../../partials/header') %>

<h2 class="display-6 mb-3 text-center">Guest Records</h2>

    <h1 class="display-3 text-center mb-3">Edit guest record</h1>
    <div class="row mb-3"></div>

    <div class="container">

        <form class="align-items-center" action="/guest-records/<%=guest._id%>?_method=PUT" method="POST">
            <div class="row mb-3">
                <div class="col-2"></div>
                <div class="col-4">
                    <input type="text" class="form-control" name="name" placeholder="Name" aria-label="Name" value="<%= guest.name %>">
                </div>

                <div class="col-1 mt-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="guestTypeOption1" value="cat" 
                        <% if (guest.type === 'cat') {  %>
                            checked
                        <% } %> >
                    <label class="form-check-label" for="guestTypeCat">cat</label>   
                </div>
                <div class="col-1 mt-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="guestTypeOption1" value="dog"
                        <% if (guest.type === 'dog') {  %>
                            checked
                        <% } %> >
                    <label class="form-check-label" for="guestTypeDog">dog</label>   
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-2"></div>
                <div class="col-4">
                    <input type="text" class="form-control" name="breed" placeholder="Breed" aria-label="Breed" value="<%= guest.breed %>">
                </div>

                <div class="col-3">
                    <input type="number" class="form-control" name="age" placeholder="Age" aria-label="Age" value="<%= guest.age %>">
                </div>

            </div>
            
            <div class="row mb-3"></div>

            <div class="mx-auto mt-3 text-center">
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="/guest-records/<%= guest._id%>" class="btn btn-outline-primary">Back</a>
            </div>
            

    </div>

    <!-- <div class="mx-auto mt-3 text-center">
        <a href="/guest-records" class="btn btn-primary">Back</a>
    </div> -->


    <%- include('../../../partials/footer') %>