<%- include('../../../partials/header') %>

<%- include('../../../partials/breadcrumbs') %>

<h2 class="display-6 text-center">Visit: Add/Remove Services</h2>
    <!-- horizontal rule / divider -->
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
            <hr class="mt-3">
        </div>
    </div> <!-- end of row -->

<div class="container mt-3">
    <form action="/visit-records/add-service/<%=visit._id%>?_method=PUT" method="POST" novalidate class="validated-form" > 

                <div class="row">
                <div class="col-2"></div>

                <div class="col-4 ">
                    <label for="guestName" class="form-label">Guest</label>
            
                    <input type="text" class="form-control" id="guestName" value="<%= visit.guest.fullName %>" disabled readonly>
                </div>


                <div class="col-4">
                    <label for="daterange" class="form-label">Check-in / out dates</label>

                    <% var formattedStartDate = `${String(visit.startDate.getMonth() + 1)}/${String(visit.startDate.getDate())}/${String(visit.startDate.getFullYear())}` %>

                    <% var formattedEndDate = `${String(visit.endDate.getMonth() + 1)}/${String(visit.endDate.getDate())}/${String(visit.endDate.getFullYear())}` %>
                        <input type="text" class="form-control" id="daterange" value="<%=formattedStartDate %> - <%= formattedEndDate %>" disabled readonly>
                </div>
                
            </div> <!--  end of row -->

        <!-- horizontal rule / divider -->
    <div class="row mt-3">
        <div class="col-5"></div>
        <div class="col-2">
            <hr class="mt-3">
        </div>
    </div> <!-- end of row -->
        
    <div class="row mx-auto">

        <div class="col-2"></div>

        <div class="col-3">

        <!-- basic (relevant, i.e., matching petType) services --> 
        <p class="lead">Basic Services</p>

        <% for (i = 0; i < relevantServices.length; i++) {%> 
            <% var makeHiddenInput = false; %>
            <% if (relevantServices[i].serviceType === 'basic') { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="serviceCheckbox<%=i%>" name="visit[services]" value="<%= relevantServices[i]._id %>" 
                    <% // checking if this service is in the visit's services arr; checking box if so %>
                    <% const test = (element) => element.name === relevantServices[i].name %>
                    <% if (visit.services.some(test)) { %>
                        checked 
                        <% // checking if this service is in the visit's renderedServices arr; disabling if so %>
                        <% var match = visit.services.find((element) => element.name === relevantServices[i].name) %>
                        <% const test2 = (element) => element.name === match.name %>
                        <% if (visit.servicesRendered.some(test2)) { %>
                            disabled
                            <% makeHiddenInput = true; %>
                            <% } %>
                    <% } %>
                    
                    >
                    <label class="form-check-label" for="serviceCheckbox<%=i%>">
                        <%= relevantServices[i].name %>
                    </label>
                </div>

                <!-- creating a hidden input corresponding to any disabled checkboxes -->
                <% if (makeHiddenInput) { %>
                    <input type="hidden"  name="visit[services]" value="<%= relevantServices[i]._id %>">
                    <% } %>

                <% } %>
            
            <% } %>

            </div>

            <div class="col-3">

           <!-- packages (full-service)-->
            <p class="lead">Packages</p>
            <% for (i = 0; i < relevantServices.length; i++) {%> 
                <% if (relevantServices[i].serviceType === 'package') { %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="serviceCheckbox<%=i%>" name="visit[services]" value="<%= relevantServices[i]._id %>" 
                        <% // checking if this service is in the visit's services arr; checking box if so %>
                        <% const test = (element) => element.name === relevantServices[i].name %>
                        <% if (visit.services.some(test)) { %>
                            checked 
                            <% // checking if this service is in the visit's renderedServices arr; disabling if so %>
                            <% var match = visit.services.find((element) => element.name === relevantServices[i].name) %>
                            <% const test2 = (element) => element.name === match.name %>
                            <% if (visit.servicesRendered.some(test2)) { %>
                                disabled
                                <% } %>
                        <% } %>
                        
                        >
                        <label class="form-check-label" for="serviceCheckbox<%=i%>">
                            <%= relevantServices[i].name %>
                        </label>
                    </div>

                <% } %>
            
            <% } %>

            </div>

            <div class="col-3">

                <!-- check for add-ons -->

                <p class="lead">Add-ons</p>
                <% for (i = 0; i < relevantServices.length; i++) {%> 
                    <% if (relevantServices[i].serviceType === 'add-on') { %>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="serviceCheckbox<%=i%>" name="visit[services]" value="<%= relevantServices[i]._id %>" 
                        <% // checking if this service is in the visit's services arr; checking box if so %>
                        <% const test = (element) => element.name === relevantServices[i].name %>
                        <% if (visit.services.some(test)) { %>
                            checked 
                            <% // checking if this service is in the visit's renderedServices arr; disabling if so %>
                            <% var match = visit.services.find((element) => element.name === relevantServices[i].name) %>
                            <% const test2 = (element) => element.name === match.name %>
                            <% if (visit.servicesRendered.some(test2)) { %>
                                disabled
                                <% } %>
                        <% } %>
                        
                        >
                        <label class="form-check-label" for="serviceCheckbox<%=i%>">
                            <%= relevantServices[i].name %>
                        </label>
                    </div>


                        <% } %>
                    <% } %>

            </div>

        </div> <!-- end of row-->

        <!-- horizontal rule / divider -->
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                <hr class="mt-4">
            </div>
        </div> <!-- end of row -->

        <div class="mx-auto mt-1 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-outline-primary">Revert Changes</button> 
            <a href="/visit-records/<%= visit._id%>" class="btn btn-outline-primary">Back</a>
        </div>

    </form>


 </div>  <!-- end of container -->


<%- include('../../../partials/footer-noCommonScripts') %>

 <script>

        $(document).ready(function() {
            // updating current 'active' navbar link
            var currentPageRoute = ('guest-records');
            $('.navbar li.active').removeClass('active');
            $('#navbar_' + currentPageRoute).addClass('active');

        });

      
</script>
